@{
    Layout = "_MainLayout";
    ViewBag.Title = "Client Home";
}

<div style="background-image:url('/images/background.jpg'); height:500px; background-size:cover;">
    <h1>Welcome to Equinox</h1>
</div>
